* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  width: 100%;
  height: 100%;
}
ul,
ol {
  list-style: none;
}
section {
  position: relative;
}
a {
  color: inherit;
  text-decoration: none;
}
